.ip {
  padding: 7px 14px;
  font-size: 20;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3ca3de;
  margin: auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 13px 2px #3ca3de;
}

.ip:hover {
  background-color: lightblue;
  box-shadow: 0 0 13px 2px lightblue;
}

.ip:active {
  background-color: lightblue;
  box-shadow: 0 0 13px 2px lightblue;
}

.pay{
  background-color: transparent;
  size: 10px;
}